* {
    box-sizing: border-box;
}

body {
    background: #F5F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
}


.quiz--div{
    margin: 0 auto;
    color: #293264;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    max-width: 600px;
}

.options--div{
    display: grid;
    grid-template: auto auto / repeat(4, 1fr); 
    gap: 12px; 
}



 .options--div label{
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 9px;
    background-color: transparent;
    border: 1px solid #4D5B9E;
    color: #293264;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    padding: 5px;
    cursor: pointer;
}

.options--div input:checked + label {
    background-color: red;
}



